@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Onest';
    src: url('../fonts/Onest-SemiBold.ttf');
    font-weight: 600;
}